doctype 5
html(lang="en")
    head
        include knacss.css
        include style.css 
        link(rel="shortcut icon", href="favicon.png")
        title="Cozy, a personal cloud you can hack, host and delete"
        meta(name="description", content="Cozy brings you a personal cloud platform. Store your data in a place you control and leverage it with personal web applications. Photos, mails, notes, contacts, todos... there's already many applications. Extend the possibility by developing your own app, you can leverage existing features! Cozy is open-source and you can self-host it. Cozy is privacy-friendly.")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        script(src='/jquery-2.0.0.min.js')
        script(type='text/javascript')
          $(document).ready(function() {
             $(".diagbox").hover(function(event) {
               $(event.target).find("p").slideDown();
             });
             $(".read-more img").click(function(event) {
               target = $(event.target);
               target.css({ '-webkit-transform': "rotate(90deg)" });
               target.css({ '-moz-transform': "rotate(90deg)" });
               target.css({ 'transform': "rotate(90deg)" });
               setTimeout(function() {
                 target.fadeOut(function() {
                   target.css('visibility', 'hidden');
                   target.show();
                   targetBox = target.parent().parent().parent()
                   bottom = targetBox.position().top + targetBox.height() + 50
                   bottomTop = $('body,html').scrollTop() + $(window).height();
                   if(bottom > bottomTop) {
                       $('body,html').animate({
                         scrollTop: target.parent().position().top
                       }, 800);
                   };
                 });
               }, 500);

               $(event.target).parent().parent().parent().find(".additional-infos").slideDown();
             });
             $(".next").click(function(event) {
               if($(event.target).get(0).tagName === "A") {
                 link = $(event.target).attr('href');
               } else  {
                 link = $(event.target).parent().attr('href');
               }
               
               $('body,html').animate({
                 scrollTop: $(link).position().top
               }, 800);
               event.preventDefault();
               return false;
             });
          });
    body
        header.line#header
            .mod.main-text
                .line 
                    p.right.happy-pic
                        img(src='/happycloud.png', alt='Happy Cloud')
                    h1.left
                        span.title Cozy&nbsp;
                        | a personal cloud you can host,
                        | hack, 
                        | and delete
                p.external-links
                    a(href="https://github.com/mycozycloud/cozy-setup")
                        button Github
                    a(href="https://github.com/mycozycloud/cozy-setup/wiki")
                        button Docs
                    a(href="https://demo.cozycloud.cc/")
                        button Demo
                p.line.read-more
                    .ml4.read-more
                        img(src="plus.png", alt="read more")
            .additional-infos
                .line
                    .mod.image.left
                        img(src="picto_02.png", alt="Illustration picture")
                    .mod
                        p
                            | Cozy brings you a personal cloud platform. Store
                            | your data in a place you control and leverage it
                            | with personal web applications.
                .line
                    .mod.image.left
                        img(src="picto_01.png", alt="Illustration picture")
                    .mod
                        p
                            | Photos, mails, notes, contacts, todos...
                            | there's already many applications. Extend
                            | the possibility by developing your own app,
                            | you can leverage existing features!
                .line
                    .mod.image.left
                        img(src="picto_03.png", alt="Illustration picture")
                    .mod
                        p
                            | Cozy is open-source and you can self-host it.
                            | Cozy is privacy-friendly. Alternatively, if you
                            | don't want to self-host, check out our 
                            a(href="https://cozycloud.cc") hosting solutions.
                .line.txtcenter.mt2
                    a(href="#host").next
                        | host it
                        br
                        i.icon-down
        section#host.line.target
            h2.icon-cloud &nbsp; Host it
            h3
                strong Target your server with this script (sudoer required).
            code curl http://cozy.io/install_cozy.sh | HOST=root@<strong>ip</strong> sh
            .line
                &nbsp;
            .line.read-more
                .txt-white
                    img(src="plus-white.png", alt="read more")
            .additional-infos.mt2
                p
                    | This script installs several tools on your
                    | local computer: python, pip, fabric and fabtools.
                    | They are required to run the installation on 
                    | your remote server.
                    | To know what will be setup on your 
                    | server, check the 
                    a(href='https://github.com/mycozycloud/cozy-setup#what-this-script-installs-on-your-server-') list
                    | &nbsp;in the readme.
                p
                    | The script works only with Debian/Ubuntu distros.
                    | A fully packaged VM is on its way so that you can deploy
                    | a Cozy on any OS (Linux, Mac, Win).
                .line.txtcenter.mt2
                    a(href="#hack").next 
                        | hack it
                        br
                        i.icon-down

        section#hack.line.target
            h2.icon-up &nbsp; Hack it
            h3 
                | install the development environment (node.js, vagrant and
                | virtualbox are required)
            code
                | npm install cozy -g
                | cozy dev:init
                | cozy dev:start
            h3 initialize your application
            .line
                code
                    | cozy new my-app  --github myaccount
                    | cd my-app
            h3 hack... then deploy!
            .line
                code
                    | cozy deploy
            .line.read-more.mt1
                .txt-white.read-more
                    img(src="plus-white.png", alt="read more")
            .additional-infos.mt2
                p
                    | We are not talking about fancy plugins, here you write 
                    | your
                    | additions like you would write any web app! The only
                    | constraints are to use our storage system and to write
                    | your code for Node.js.
                    | (Python and Ruby are on the roadmap). 
                p
                    | For more details check our&nbsp;
                    a(href="https://github.com/mycozycloud/cozy-setup/wiki#build-your-cozy-cloud-application") getting started guide
                .line.txtcenter.mt2
                    a(href="#delete").next 
                        | delete it
                        br
                        i.icon-down
            
        section#delete.line.target
            h2.icon-cross &nbsp; Delete it
            p 
                | We believe you will keep using your Cozy because 
                | you can get rid of it:
            code.mt2 curl http://cozy.io/uninstall_cozy.sh | HOST=root@<strong>ip:port</strong> sh
            .line.read-more.mt1
                .black-text.read-more
                    img(src="plus.png", alt="read more")
            .additional-infos.mt2
                p 
                    | What is annoying nowadays with online services is
                    | that you are locked with it. We don't want that for
                    | Cozy Cloud. That's why we give you the possibility to 
                    | leave the platform. 
                    | NB: Be aware that the above action will erase your
                    | data permanently.
                .line.txtcenter.mt2
                    a(href="#architecture").next.txt-black 
                        | see our architecture
                        br
                        i.icon-down
        section#architecture.line.target
            h2.icon-nav &nbsp; Architecture
            .line
                .line
                    .mod.w100.diagbox  
                        div proxy
                        p.w100
                            | The proxy handles all user requests. It manages
                            | the authentication and routes requests to the 
                            | right application.
                .line.grid5
                    .diagbox
                        div home / controller
                        p.w100
                            | The home app is a UI for the 
                            | controller. It allows to install or remove
                            | applications and to set user parameters.
                    .diagbox
                        div app1
                        p.w100
                            | This is an application provided by Cozy Cloud
                            | or the community. It is spawned by the home
                            | that finds the sources on a github repo.
                    .diagbox 
                        div app2
                        p.w100
                            | Your choice: notes, mails, budget, sport coach...
                    .diagbox(style='background: transparent') ...
                    .diagbox
                        div your app
                        p.w100
                            | This is an application you developed. You can spawn it like
                            | any other applications.
                .line
                    .mod.w100.diagbox  
                        div data system
                        p.w100
                            | The data system is a layer between apps and data.
                            | It (will) manages application permissions and
                            | provides a unified API to access to all kind of
                            | data: files, documents or indexes.
                            | It publishes changes, so that applications
                            | can share data with each other.
                .line.grid3
                    .diagbox
                        div database
                        p.w100
                            | This NoSQL storage stores documents as JSON
                            | objects.
                    .diagbox
                        div file system
                        p.w100
                            | Files are stored directly in the database as
                            | attachments of documents. A fuse implementation
                            | is on the roadmap to make things smoother.
                    .diagbox  
                        div indexer
                        p.w100
                            | A dedicated module
                            | handles content indexation through a REST API.
                            | It's your personal search engine.
            .line.mt1
            .line.read-more.mt1
                .txt-black.read-more
                    img(src="plus.png", alt="read more")

            .additional-infos.mt2
                p
                    | If you want to know more about our architecture
                    | and technical choices
                    | check the dedicated&nbsp;
                    a(href="https://github.com/mycozycloud/cozy-setup/wiki/Cozy-architecture") wiki page
                    !
                .line.txtcenter.mt2
                    a(href="#community").next 
                        | join our community
                        br
                        i.icon-down
 
        section#community.line
            h2.icon-asteri &nbsp; Community
            p 
                | A software is nothing without a community. That's why we want
                | to make it easy for you to connect with us and other Cozy users:
            p 
                a(href="http://webchat.freenode.net/?channels=cozycloud") 
                    | IRC: <strong>#cozycloud</strong> on irc.freenode.net
            p
                a(href='https://groups.google.com/forum/#!forum/my-cozy-cloud') 
                   | Mailing List 
            p
                a(href='https://forum.cozycloud.cc/') 
                   | Forum
            p
                a(href='https://twitter.com/mycozycloud') 
                   | Twitter
        section#about.line
            h2.icon-rate &nbsp; About
            p.right
                img(src='/cozy-logo.png', alt='Cozy Logo')
            p 
                | Cozy is a software built by the 
                | <a href="https://cozycloud.cc/">Cozy Cloud company</a>. We love
                | the web and cloud computing, but the current situation doesn't
                | satisfy us. By providing a platform for interconnected and
                | privacy-friendly web apps we want to make the web a better place.
            p
                | If you want the benefits of Cozy without the constraints of self-hosting, visit
                | <a href="https://cozycloud.cc">cozycloud.cc</a>
                | and try our hosting solutions!

        script(type='text/javascript')
          var _paq = _paq || [];
          _paq.push(["trackPageView"]);
          _paq.push(["enableLinkTracking"]);

          (function() {
            var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.cozycloud.cc/";
            _paq.push(["setTrackerUrl", u+"piwik.php"]);
            _paq.push(["setSiteId", "3"]);
            var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
            g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
          })();
        noscript
            img(src="https://piwik.cozycloud.cc/piwik.php?idsite=1&amp;rec=1", style="border:0", alt="")
