doctype 5
html(lang="en")
    head
        include knacss.css
        include style.css
        stylesheet(src='knacss.css')
        stylesheet(src='style.css')
        link(rel="shortcut icon", href="favicon.png")
        title="Cozy, a personal cloud you can hack, host and delete"
        meta(name="viewport", content="width=device-width,initial-scale=1")
        script(src='/jquery-2.0.0.min.js')
        script(type='text/javascript')
          $(document).ready(function() {
             $(".diagbox").hover(function(event) {
               $(event.target).find("p").slideDown();
             });
             $(".read-more img").click(function(event) {
               target = $(event.target);
               target.css({ '-webkit-transform': "rotate(90deg)" });
               target.css({ '-moz-transform': "rotate(90deg)" });
               target.css({ 'transform': "rotate(90deg)" });
               setTimeout(function() {
                 target.fadeOut(function() {
                   target.css('visibility', 'hidden');
                   target.show();
                   targetBox = target.parent().parent().parent()
                   bottom = targetBox.position().top + targetBox.height() + 50
                   bottomTop = $('body,html').scrollTop() + $(window).height();
                   if(bottom > bottomTop) {
                       $('body,html').animate({
                         scrollTop: target.parent().position().top
                       }, 800);
                   };
                 });
               }, 500);

               $(event.target).parent().parent().parent().find(".additional-infos").slideDown();
             });
             $(".next").click(function(event) {
               if($(event.target).get(0).tagName === "A") {
                 link = $(event.target).attr('href');
               } else  {
                 link = $(event.target).parent().attr('href');
               }
               
               $('body,html').animate({
                 scrollTop: $(link).position().top
               }, 800);
               event.preventDefault();
               return false;
             });
          });
    body
        header.line#header
            .mod.main-text
                .line 
                    p.right.happy-pic
                        img(src='/happycloud.png', alt='Happy Cloud')
                    h1.left
                        span.title Cozy&nbsp;
                        | a personal cloud you can host,
                        | hack, 
                        | and delete
                p.external-links
                    a(href="https://github.com/mycozycloud/cozy-setup")
                        button Github
                    a(href="https://github.com/mycozycloud/cozy-setup/wiki")
                        button Docs
                    a(href="https://demo.cozycloud.cc/")
                        button Demo
                p.line.read-more
                    .ml4.read-more
                        img(src="plus.png", alt="read more")
            .additional-infos
                .line
                    .mod.image.left
                        img(src="picto_02.png")
                    .mod
                        p
                            | Cozy brings to you its personal cloud platform. 
                            | Store all your data in a
                            | single place you control then leverage them with
                            | web applications made by you or by others.
                .line
                    .mod.image.left
                        img(src="picto_01.png")
                    .mod
                        p
                            | Photos, mails, notes, contacts, todos... store
                            | and manage any kind of data. There is an app
                            | for an usage. And if you don't find the app you
                            | want, you can build it!
                .line
                    .mod.image.left
                        img(src="picto_03.png")
                    .mod
                        p
                            | Cozy is open-source and aims to be self-hosted.
                            | That means it is privacy-safe. If you don't
                            | want to be bored with installation, check our 
                            a(href="https://cozycloud.cc") hosting solutions.
                .line.txtcenter.mt2
                    a(href="#host").next
                        | host it
                        br
                        i.icon-down
        section#host.line.target
            h2.icon-cloud &nbsp; Host it
            h3
                strong Target your server with this script (sudoer required).
            code curl http://cozy.io/install_cozy.sh | HOST=root@<strong>ip</strong> sh
            .line
                &nbsp;
            .line.read-more
                .txt-white
                    img(src="plus-white.png", alt="read more")
            .additional-infos.mt2
                p
                    | This script will install several tools on your
                    | local computer: python, pip, fabric and fabtools.
                    | They are the tools required to run the installation on 
                    | your 
                    | remote server. To know what will be setup on your 
                    | server, check the 
                    a(href='https://github.com/mycozycloud/cozy-setup#what-this-script-installs-on-your-server-') list
                    | &nbsp;in our readme.
                p
                    | It will work only with Debian/Ubuntu distros.
                    | A fully packaged VM is on its way so that you can deploy
                    | a Cozy on any OS (Linux, Mac, Win).
                .line.txtcenter.mt2
                    a(href="#hack").next 
                        | hack it
                        br
                        i.icon-down

        section#hack.line.target
            h2.icon-up &nbsp; Hack it
            h3 
                | install the development environment (node.js, vagrant and
                | virtualbox are required)
            code
                | npm install cozy -g
                | cozy dev:init
                | cozy dev:start
            h3 initialize your application
            .line
                code
                    | cozy new my-app  --github myaccount
                    | cd my-app
            h3 hack... then deploy!
            .line
                code
                    | cozy deploy
            .line.read-more.mt1
                .txt-white.read-more
                    img(src="plus-white.png", alt="read more")
            .additional-infos.mt2
                p
                    | We are not talking about fancy plugins, here you write 
                    | your
                    | additions like you would write any web app! The only
                    | constraints are to use our storage system and to write
                    | your code for Node.js.
                    | (Python and Ruby are on the roadmap). 
                p
                    | For more details check our&nbsp;
                    a(href="https://github.com/mycozycloud/cozy-setup/wiki#build-your-cozy-cloud-application") getting started guide
                .line.txtcenter.mt2
                    a(href="#delete").next 
                        | delete it
                        br
                        i.icon-down
            
        section#delete.line.target
            h2.icon-cross &nbsp; Delete it
            p 
                | We are convinced that you will keep using your Cozy because 
                | you can get rid of it:
            code.mt2 curl http://cozy.io/uninstall_cozy.sh | HOST=root@<strong>ip:port</strong> sh
            .line.read-more.mt1
                .black-text.read-more
                    img(src="plus.png", alt="read more")
            .additional-infos.mt2
                p 
                    | What is annoying today is that when you use an online
                    | service, you are locked with it. We don't want that for
                    | Cozy Cloud. That's why we give you the possibility to 
                    | leave our platform. 
                    | NB: Be aware that the above action will erase your
                    | data permanently.
                .line.txtcenter.mt2
                    a(href="#architecture").next.txt-black 
                        | see our architecture
                        br
                        i.icon-down
        section#architecture.line.target
            h2.icon-nav &nbsp; Architecture
            .line
                .line
                    .mod.w100.diagbox  
                        div proxy
                        p.w100
                            | The proxy handles all users requests. It manages
                            | the authentication and route requests to the 
                            | right application.
                .line.grid5
                    .diagbox
                        div home / controller
                        p.w100
                            | The home is an app that acts as the UI for the 
                            | controller. It allows to install or remove
                            | applications and sets user parameters.
                    .diagbox
                        div app1
                        p.w100
                            | This is an application provided by Cozy Cloud
                            | or the community. It is spawned by the
                            | which find the sources on a github repo
                    .diagbox 
                        div app2
                        p.w100
                            | Another app: notes, mails, budget, sport coach...
                    .diagbox(style='background: transparent') ...
                    .diagbox
                        div your app
                        p.w100
                            | This is your application. You can spawn it like
                            | any other applications.
                .line
                    .mod.w100.diagbox  
                        div data system
                        p.w100
                            | The data system is a layer between apps and data.
                            | It (will) manages application permissions and
                            | provides an unified API to access to all kind of
                            | data: files, documents or indexes.
                            | It publishes changes, this way, applications
                            | can communicate with each other.
                .line.grid3
                    .diagbox
                        div database
                        p.w100
                            | This NoSQL storage stores documents as JSON
                            | objects.
                    .diagbox
                        div file system
                        p.w100
                            | Files are stored directly in the database as
                            | attachments of documents. A fuse implementation
                            | is on the roadmap to make things smoother.
                    .diagbox  
                        div indexer
                        p.w100
                            | A dedicated module
                            | handles content indexation through a REST API.
                            | That's your personal search engine.
            .line.mt1
            .line.read-more.mt1
                .txt-black.read-more
                    img(src="plus.png", alt="read more")

            .additional-infos.mt2
                p
                    | We could write a lot about our architecture and our
                    | technical choice. So let's read it in a proper place :
                    | check the dedicated&nbsp;
                    a(href="https://github.com/mycozycloud/cozy-setup/wiki/Cozy-architecture") wiki page
                    !
                .line.txtcenter.mt2
                    a(href="#community").next 
                        | join our community
                        br
                        i.icon-down
 
        section#community.line
            h2.icon-asteri &nbsp; Community
            p 
                | A software is nothing without its community. That's why
                | we want to make you easy to connect with other Cozy users:
            p 
                a(href="http://webchat.freenode.net/?channels=cozycloud") 
                    | IRC: <strong>#cozycloud</strong> on irc.freenode.net
            p
                a(href='https://groups.google.com/forum/#!forum/my-cozy-cloud') 
                   | Mailing List 
            p
                a(href='https://forum.cozycloud.cc/') 
                   | Forum
            p
                a(href='https://twitter.com/mycozycloud') 
                   | Twitter
        section#about.line
            h2.icon-rate &nbsp; About
            p.right
                img(src='/cozy-logo.png', alt='Cozy Logo')
            p 
                | Cozy is a software built by the 
                | <a href="https://cozycloud.cc/">Cozy Cloud company</a>. We love
                | the web and cloud computing, but the current situation doesn't
                | satisfy us. That's why want to make the web a better place 
                | by providing interconnected and privacy-safe web apps.
            p
                |pull If you want a Cozy without the hassle of self-hosting, visit
                | <a href="https://cozycloud.cc">cozycloud.cc</a>
                | and try our hosting solutions!

        script(type='text/javascript')
          var _paq = _paq || [];
          _paq.push(["trackPageView"]);
          _paq.push(["enableLinkTracking"]);

          (function() {
            var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.cozycloud.cc/";
            _paq.push(["setTrackerUrl", u+"piwik.php"]);
            _paq.push(["setSiteId", "3"]);
            var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
            g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
          })();
        noscript
            img(src="https://piwik.cozycloud.cc/piwik.php?idsite=1&amp;rec=1", style="border:0", alt="")
